.container {
  text-align: center;
  height: 100%;
}
.wrapper{
  display: flex;
	flex-direction: column;
  min-height: 100vh;
  margin: 10px;
}
main{
  flex-grow: 1;
}
.css-wjh20t-MuiPagination-ul{
  justify-content: center;
}
.css-nhb8h9 {
  justify-content: center;
}
.pagination{
  margin: 20px;
}


